<div >
    <div>
      <div class="item">
        <label  class="col-md-6 ">Candidate ID<span>*</span></label>
        <input class="col-md-4"value='{{data.id}}' readonly='readonly'/>
      </div>
      <div class="item">
        <label class="col-md-6 ">Candidate Name<span>*</span></label>
        <input class="col-md-4"  value='{{data.name}}' readonly='readonly'/>
      </div>
      <div class="item">
        <label  class="col-md-6 ">Status<span>*</span></label>
        <input class="col-md-4" value='{{data.status}}' readonly='readonly'/>
      </div>
      <div class="item">
        <label  class="col-md-6 ">Mobile Number<span>*</span></label>
        <input class="col-md-4" value='{{data.contact}}' readonly='readonly'/>
      </div>
      <div class="item">
        <label  class="col-md-6 ">Highest Education<span>*</span></label>
        <input class="col-md-4" value='{{data.highest_degree}}' readonly='readonly'/>
    </div>
    <div class="item">
        <label  class="col-md-6 ">Address<span>*</span></label>
        <input class="col-md-4" value='{{data.address}}' readonly='readonly'/>
    </div>
    <div class="item">
        <label  class="col-md-6 ">Aadhaar Number<span>*</span></label>
        <input class="col-md-4" value='{{data.aadhaar}}' readonly='readonly'/>
    </div>
    <div class="item">
        <label  class="col-md-6 ">Work Experience<span>*</span></label>
         <textarea readonly='readonly' class="col-md-4">{{data.work_experience}}</textarea>
    </div>
    <div class="item">
        <label  class="col-md-6 ">Father's Name<span>*</span></label>
        <input class="col-md-4" value='{{data.father_name}}' readonly='readonly'/>
    </div>
    <div class="item">
        <label  class="col-md-6 ">Gender<span>*</span></label>
        <input class="col-md-4" value='{{data.gender}}' readonly='readonly'/>
    </div>
    <div class="item">
        <label  class="col-md-6 ">Email ID<span>*</span></label>
        <input class="col-md-4" value='{{data.email}}' readonly='readonly'/>
      </div>
    </div>
</div>